.list-view .content{
    display: flex;
}

.list-view .adhesive-form{
    flex:2;
}

.list-view .adhesive-form{
    flex:1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px){
    .list-view.editing .toolbar,
    .list-view.editing .adhesive-grid {
        display: none;
    }
}
.list-view .email-form{
    flex:2;
}

.list-view .email-form{
    flex:1;
    padding: var(--lumo-space-m);
}